*{
color:black;
}

body {
background-color: aquamarine;
}

h1 h2{
color: black;
}

footer {
background-color: cadetblue;  
}

pallete1{
background-color: #FF0000;
}

pallete2{
background-color: #FF0033;
}

pallete3{
background-color: #FF0066;
}

pallete4{
background-color: #FF0099;
}

pallete5{
background-color: #FF00CC;
}

pallete6{
background-color: #FF00FF;
}



